# Ignore everything by default
**

# Allowlist
!astro.config.ts
!package.json
!pnpm-lock.yaml
!patches/
!public/
!src/
!db/
!plugins/
!lib.d.ts
!tailwind.config.ts
!tsconfig.json
!tsconfig.eslint.json
!giscus.json
!fly.toml