---
import Layout from '$layouts/Page.astro';
---

<Layout description="Nothing but dust and ghosts..." title="404">
  <header class="flex flex-col gap-3 pb-5">
    <h1 class="pt-2 text-4xl font-semibold">404</h1>

    <p>Nothing but dust and ghosts...</p>
    <p>The page you were looking for does not reside here, unfortunately.</p>
  </header>
</Layout>
