---
import Avatar from '$components/base/Avatar.astro';
import NavLink from '$components/base/NavLink.astro';
import LanyardStatus from '$components/home/Lanyard.tsx';
import { navLinks, platforms } from '$utils/config';
---

<header
  class="mx-auto flex w-full max-w-4xl flex-col flex-wrap justify-between gap-y-3 px-8 pt-8 text-center md:flex-row md:items-center"
>
  <div class="flex flex-row items-center gap-x-4">
    <a href="/" class="flex text-center text-ctp-text active:scale-125">
      <Avatar class="w-12 rounded-full border-none" width={20} height={20} />
    </a>

    <div class="flex flex-col items-start justify-center pt-1">
      <h2 class="text-xl font-semibold">Sapphic Angels</h2>
      <LanyardStatus userId={platforms.discordID} client:idle transition:persist="lanyard" />
    </div>
  </div>

  <nav class="flex flex-row flex-wrap items-center gap-x-5 gap-y-2">
    {
      navLinks.map(({ link, text }) => {
        return <NavLink href={link} {text} class="underline-offset-4" />;
      })
    }
  </nav>
</header>
