---
import { blog } from '$utils/config';
import { isProduction } from '$utils/helpers/misc';
---

{/* eslint-disable-next-line tailwindcss/no-custom-classname */}
<div class="giscus"></div>
{
  isProduction && (
    <script is:inline src="https://giscus.app/client.js" {...blog.giscus} async data-astro-rerun />
  )
}
